<!doctype html>
<html ⚡>
<meta charset="utf-8">
    <title>AMP Publisher Samples</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
    <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body>222222
    <%> styles %>
    <% title %>
  <h1>Express2222</h1>
  <p>Welcome to Express</p>
</body>

</html>
